body{
    padding: 12px;
    line-height: 1.5;
    background-color: #E5E0FF;
    font-family: Arial;
    font-size: 120%;
    display:grid;
    grid-template-columns: 100%;
}

li{ display: inline-block;
}

nav ul li{
    display: inline;
    margin: 10px;
    padding: 10px;
    font-size: 25px;
    background-color: white;
}

.active{
    color: rgb(39, 136, 17);
    border: solid 3px;
    padding: 10px;
    text-transform: uppercase;
}

h1{
	text-align: center;
	font-size: 42px;
	padding: 15px;
}

h2{
	font-size: 30px;
	color: #0d0d0dc7;
}

img:hover{
    box-shadow: 10px 10px gray; 
}

img{
    width: 45%;
    padding: 0px;
    margin: 5px 10px 10px 5px;
    border-radius: 10px;
}

img:nth-of-type(odd) {
    border: ridge #f3de77 16px;
}

img:nth-of-type(even) {
    border: ridge silver 16px;
}

.skip{
    position: absolute;
    left: -1000px;
}

.skip:focus {
    left:0px
}

p{
    line-height: 1.5;
}